---
---

@import "{{ site.theme }}";


p {
    text-align: justify;
}


.request-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5em;
    // padding: 10px;
    // background-color: brown;
    input {
        margin: 0.2em 0;
        padding: 0.4em;
    }
    p {
        margin: auto 0;
    }
    button {
        padding: 0.4rem;
    }
    .submitted {
        color: white;
    }
}